*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
}
#main{
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 1.5vw;
}
#navbar h2{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.2em;
    color: #a2a2a2;
}
#navbar h2:hover{
    color: #fff;
    transition: ease-out 0.5s;
    cursor: pointer;
    text-shadow: 1px solid white;
}
#social{
    display: flex;
    align-items: center;
    gap: 4em;
}
#main h1{
    font-size: 8em;
    font-weight: 200;
    line-height: 17vh;
    text-transform: uppercase;
    width: 80%;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}
#main h1:nth-child(2) {
    margin-top: 25vh;
}
#main h1:nth-child(3) {
    text-align: center;
}
#main h1:nth-child(4) {
    text-align: end;
}
img{
    height: 80vh;
    width: 20vw;
    position: absolute;
    object-fit: cover;
    top: 14%;
    left: 40%;
    border-radius: 1em;
}
#img1{
    rotate: 20deg;
}
#img2{
    rotate: 10deg;
}

/* media queries for smaller screen */
@media (width <= 430px) {
    
    #navbar{
        margin-top: 0.5vh;
        height: 4vh;
        width: 100%;
    }
    #navbar h2{
        font-size: 0.7em;
        font-weight: 300;
    }
    #social{
        gap: 1em;
    }
    #main h1{
        font-size: 2.5em;
        line-height: 9vw;
        top: 15vh;
    }
    img{
        top: 25vh;
        left: 25vw;
        height: 50vh;
        width: 25vh;
        border-radius: 0.8em;
    }
    
}